*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, #38363f, #201f24);
    overflow: hidden;
}
.m_auto{
    margin: 0 auto;
}
.yellow{
    color: #ffc704;
}
section{
    width: 100%;
    max-width: 1500px;
    margin: 10px auto 0;
}
/*Меню*/
header{
    width: 100%;
    max-width: 1500px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
header nav{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.nav__link:hover{
    color: #ffc704;
    transition: all 0.5s;
}
.menu__img{
    margin-left: 25px;
    height: 100%;
    width: auto;
}
/*Главная страница*/
.intro{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.intro__img{
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px #38363f);
}
.intro__inner{
    width: 50%;
    height: 100%;
    margin: 0 15px;
}
.intro__header{
    font-size: 100px;
}
.intro__text{
    font-weight: 300;
    font-size: 20px;
}
.intro__under__text{
    height: 35px;
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}
.intro__button{
    position: relative;
    width: 165px;
    height: 100%;
    margin: 0 10px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 550;
}
.intro__button:hover,
.intro__button:hover span{
    color: #38363f;
    background: #fff;
    transition: all 0.4s;
}
.intro__button span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.yellow__button{
    background-color: #ffc704;
    border: 2px solid #ffc704;
}
.yellow__button:hover,
.yellow__button:hover span{
    color: #ffc704;
    background: transparent;
    transition: all 0.4s;
}

/* Каталог */
.catalog__body{
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
}
.section__header{
    text-align: center;
    margin: 20px
}
.catalog{
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    overflow: auto hidden;
    
}
.catalog__item{
    flex: 0 0 200px;
    width: 250px;
    height: 350px;
    padding: 20px;
    margin: 0 30px;
}
.selected{
    background-color: rgba(0, 0, 0, 0.300);;
}
.item__logo{
    width: 100%;
    height: auto;
}
.item__logo__inner{
    width: 100%;
    height: auto;
}
.item__name{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.item__button{
    width: 165px;
    height: 40px;
    margin: 0 auto;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 550;
}
.item__button:hover{
    background-color: #ffc704;
    color: #201f24;
    transition: all 0.3s;
    border-color: #ffc704;
}
.item__button__outer{
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.item__about__outer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.item__about__inner{
    width: calc(100% - 350px);
}
.about__left{
    width: 300px;
}
.item__about__img{
    width: 100%;    
}
.about__img__inner{
    width: 100%;
    height: auto;
}
.item__rating__outer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.item__row{
    color: #ffc704;
    font-size: 20px;
    background-color: transparent;
    border: none;
}
.item__row:hover{
    cursor: pointer;
}
.item__rating{
    position: relative;
    height: 20px;
    width: 260px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
}
.item__rating__number{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;  
    color: #201f24;
    font-weight: 600;
    z-index: 400;
}
.item__rating__inner{
    height: 100%;
    width: 90%;
    margin-right: auto;
    border: 1px solid #ffc704;
    border-radius: 10px;
    background-color: #ffc704;
    z-index: 200;
}
.item__rating__label{
    width: 100%;
    text-align: center;
    font-weight: 600;
}
.inner__child__description{
    text-align: justify;
}
.inner__child__label{
    font-weight: 560;
    color: #ffc704;
    margin-left: 20px;
}
.item__download__button{
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 16px;
    padding: 8px 23px;
    border-radius: 8px;
}
.item__download__button:hover{
    background-color: #ffc704;
    border-color: #ffc704;
    transition: all 0.5s;
}
.locked:hover{
    cursor:not-allowed;
    background-color: #ff2a04;
    border-color: #ff2a04;
}
/* auth/reg */
.auth__page{
    position: relative;
    width: 100%;
    height: 100%;
}
.auth__block{
    position: absolute;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #201f24;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    
}
.reg__page{

}
.auth__block *{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.auth__header{
    width: 100%;
    font-size: 34px;
    padding: 22px 0;
}
.auth__input__label{
    font-size: 20px;
    font-weight: 500;
}
.auth__input{
    background-color: transparent;
    border: none;
    width: 70%;
    font-size: 23px;
    font-weight: 200;
    border-bottom: 2px solid #ffc704;
    margin-bottom: 25px;
}
.auth__description{
    font-size: 14px;
}
.auth__error{
    font-size: 14px;
    color: #ff2a04;
    margin-bottom: 10px;
}
.auth__link{
    color: #ffc704;
}
.auth__link:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.5s;
}
.auth__button{
    font-size: 20px;
    font-weight: 700;
    background-color: #ffc704;
    border: 2px solid #ffc704;
    margin: 15px auto;
    padding: 5px 30px;
    border-radius: 10px;
}
.auth__button:hover{
    background-color: transparent;
    font-weight: 300;
    border: 1px solid #fff;
    transition: all 0.4s;
}
.hide{
    display: none;
}